header {
    height: 80px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.logo {
    width: 50px;
    height: 48px;
    background: url("../images/logo.png") no-repeat;
    background-size: 50px 48px;
}
.btn__header {
    width: 100%;
    color: #868686;
    padding: 10px;
    border-radius: 5px;
    font-size:12px;
    cursor: pointer;
    text-align: center;
}
.active {
    color: #FFFFFF!important;
    background: darkorange!important;
}
.hero {
    position: relative;
    min-height: 500px;
    background: #709dca;
}