*{
    font-family: 'Open Sans', sans-serif;
}
header {
    height: 80px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.logo {
    width: 50px;
    height: 48px;
    background: url("../images/logo.png") no-repeat;
    background-size: 50px 48px;
}
.btn__header {
    width: 100%;
    color: #868686;
    padding: 10px;
    border-radius: 5px;
    font-size:11px;
    cursor: pointer;
    text-align: center;
}
.btn__header:hover {
    color: #FFFFFF!important;
    background: darkorange!important;
}
.active {
    color: #FFFFFF!important;
    background: darkorange!important;
}
.hero {
    position: relative;
    min-height: 500px;
    background: #709dca;
}

.hero-title {
    font-size: 35px;
    color: #FFFFFF;
    margin-top: 80px;
    text-align: center;
    font-weight: 600;
}
.hero-description{
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400;
}
input[type=text] {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin: auto;
}
input[type=button] {
    width: 100%;
    border: none;
    padding: 10px 50px;
    border-radius: 3px;
    margin: auto;
    text-transform: uppercase;
    background: darkorange;
    color: #ffffff;
}
.hp{
    font-size: 30px;
}
.hero-image {
    width: 648px;
    height: 360px;
    background: url("../images/Laptop.png");
    background-size: contain;
    margin: auto;
    position: relative;
    bottom: -70px;
}
.services {
    padding: 200px 0 50px;
}
.services__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.services__subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}


